---

- name: Report current value for VM guest
  ansible.builtin.debug:
    var: ansible_facts.virtualization_type

- name: Install QEMU package
  ansible.builtin.package:
    name: qemu-guest-agent
    state: present
  when: ansible_facts.virtualization_type == "kvm"
  become: true
  become_user: root
